**/.classpath
**/.dockerignore
**/.env
**/.gitignore
**/.gitkeep
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/Dockerfile*
**/obj
**/*.zip
**/launchSettings.json
.idea
.git
.gitignore
.vs
.vscode
.gitignore
.gitattributes
.editorconfig
.fleet
*.DotSettings
*.DotSettings.User
docker-compose*.yml
dc.local.yaml
LICENSE
README.md
appsettings.local.json